ul {
	list-style:none;
    margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 990px;
	text-align: center;
}

ul li {
	display: inline-block;
	padding: ;
	background:white;
	margin: 20px;
}
ul li img {
	display: block;
}

input[type="search"]
{
 margin: 0 32%;
 height: 40px;
 width: 430px;
 border: 2px solid #ccc;
 border-radius: 4px;
 font-size: 12px;
 background-color: white;
 
    
}
